<header>
    <link rel="stylesheet" href="~/css/Index.css">
    <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header>
<body>
<div class="allcontent">
    @if (Model.Count == 0) {
        <h1 class="notfound">Nothing Here!</h1>
        <p class="notfound-paragraph">Please Search Again.</p>
    }
    @foreach (var item in Model) {
        DateTime timeNow = DateTime.Now;
        DateTime expireDateNewFormat = DateTime.Parse(item.ExpireDate);
        @if (expireDateNewFormat > timeNow) {
            <div class="act-block" type="button">
                <div class="left-side">
                    <div class="tag-display" id="tag-display">
                        @if (item.Tag.Count == 0) {
                            <div class="tag-item" id="@item.Ids">
                                <p>No Tags!</p>
                            </div>
                        }
                        else {
                            @if (item.Tag.Count>3) {
                                for (int i = 0; i < 3; i++) {
                                    <div class="tag-item" id="@item.Ids">
                                        <p>@item.Tag[i]</p>
                                    </div>
                                }
                                <div class="tag-plus">
                                    <p>+@{var plusAmount = item.Tag.Count-3; @plusAmount}</p>
                                </div>
                            }
                            else {
                                @foreach (var tags in item.Tag) {
                                    <div class="tag-item" id="@item.Ids">
                                        <p>@tags</p>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="act-title">@item.Title</div>
                    @if (item.Img.Count == 0) {
                        <img class="img-display" src="https://img.freepik.com/premium-photo/camping-ai-generate_250484-7577.jpg?w=826"></img>
                    }
                    else {
                        <img class="img-display" src="@item.Img[0]"></img>
                    }
                </div>
                <div class="right-side">
                    <div class="member-block">
                        <img class="host-crown" src="https://cdn-icons-png.flaticon.com/128/6941/6941697.png"></img>
                        @if (item.Member.Count>5) {
                            for (int i =0; i<5; i++) {
                                <img class="member-img" src="@item.Member[i].Users.Pic">
                            }
                            <div class="member-plus">
                                <h2 class="overlay-member-text">+@{var plusAmount = item.Member.Count-5; @plusAmount}</h2>
                            </div>
                        }
                        else {
                            @foreach (var member in item.Member) {
                                <img class="member-img" src="@member.Users.Pic">
                            }
                        }
                    </div>
                    <div class="description">
                        <p class="size">Party size : @item.MaxMember</p>
                        <p class="recruitend">Recruit End At : @item.RecruitEnd</p>
                        <p class="date">Date : @item.Date</p>
                        <p class="place">Place : @item.Place</p>
                        <p class="desc">Description : @item.Description</p>
                        
                    </div>
                    @{var memCount = 1;}
                    @{
                        DateTime recruitEndNewFormat = DateTime.Parse(item.RecruitEnd);
                    }
                    @foreach (var ppl in item.Member) {
                        if (ppl.Status == "Joined"){ memCount +=1;}
                    }
                    @if (recruitEndNewFormat < timeNow){
                        <button class="button-block-full" type="button" onclick="event.stopPropagation();">
                            <h1 class="full-button">Recruitment Ended</h1>
                        </button>
                    }
                    else{
                        @if (item.MaxMember<=memCount) {
                            <button class="button-block-full" type="button" onclick="event.stopPropagation();">
                                <h1 class="full-button">FULL</h1>
                            </button>
                        }
                        else {
                            <button class="button-block" type="button" onclick="event.stopPropagation();viewActivity(this);" id="@item.Ids">
                                <h1 class="join-button">View Details</h1>
                            </button>
                        }
                    }
            </div>
        </div>
        }
    }
</div>
<script src="~/js/Index.js">
</script>

    
</body>