@{
  var userName = @Context.Session.GetString("Name");
  var userPic = @Context.Session.GetString("Pic");
  var userBio = @Context.Session.GetString("Bio");
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <title>Activity</title>
  <link rel="stylesheet" href="~/css/profile.css" />
  <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
</head>


<body>
  <main>


    <section class="content">

      <div class="profile">
        <div class="profile-left">
          <div>
            <img
              src="@userPic"
              alt="" />
          </div>

        </div>
        <div class="profile-right">

          <h1 class="profile-user-name">@userName</h1>
          <span class="profile-real-name">BIO :</span>
          <div class="profile-bio">
            <p>@userBio</textarea>

          </div>



        </div>
      </div>
      <!-- End of profile section -->

      <div class="left-bottom">
        <div class="weekly-schedule">
          <h1>Schedule</h1>
          <div class="calendar">
            <div class="day-and-activity activity-one">
              <div class="day">
                <h1>8</h1>
                <p>mon</p>
                <p>Mar,2024</p>
              </div>
              <div class="activity">
                <h2>Koh Samui Diving Trip</h2>
                <div class="participants">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                    style="--i: 1" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/90affa88-8da0-40c8-abe7-f77ea355a9de"
                    style="--i: 2" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/07d4fa6f-6559-4874-b912-3968fdfe4e5e"
                    style="--i: 3" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e082b965-bb88-4192-bce6-0eb8b0bf8e68"
                    style="--i: 4" alt="" />
                </div>
              </div>
              <div class="btn-inline">
                <button class="btn">Cancel</button>
                <button class='pending'>Pending</button>

              </div>
            </div>

            <div class="day-and-activity activity-two">
              <div class="day">
                <h1>15</h1>
                <p>wed</p>
                <p>Jun,2024</p>
              </div>
              <div class="activity">
                <h2>Cycling Suvarnhabhumi</h2>
                <div class="participants">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                    style="--i: 1" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/32037044-f076-433a-8a6e-9b80842f29c9"
                    style="--i: 2" alt="" />
                </div>
              </div>
              <div class="btn-inline">
                <button class="btn">Cancel</button>
                <button class='pending'>Pending</button>

              </div>
            </div>

            <div class="day-and-activity activity-three">
              <div class="day">
                <h1>17</h1>
                <p>fri</p>
                <p>Jul,2024</p>
              </div>
              <div class="activity">
                <h2>Badminton Court KMITL</h2>
                <div class="participants">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/32037044-f076-433a-8a6e-9b80842f29c9"
                    style="--i: 1" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e082b965-bb88-4192-bce6-0eb8b0bf8e68"
                    style="--i: 2" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                    style="--i: 3" alt="" />
                </div>
              </div>
              <div class="btn-inline">
                <button class="btn">Cancel</button>
                <button class='pending'>Pending</button>

              </div>
            </div>

            <div class="day-and-activity activity-four">
              <div class="day">
                <h1>18</h1>
                <p>sat</p>
                <p>Nov,2024</p>
              </div>
              <div class="activity">
                <h2>Volunteer</h2>
                <div class="participants">
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/07d4fa6f-6559-4874-b912-3968fdfe4e5e"
                    style="--i: 1" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/32037044-f076-433a-8a6e-9b80842f29c9"
                    style="--i: 2" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/07d4fa6f-6559-4874-b912-3968fdfe4e5e"
                    alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                    style="--i: 4" alt="" />
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/90affa88-8da0-40c8-abe7-f77ea355a9de"
                    style="--i: 5" alt="" />
                </div>
              </div>
              <div class="btn-inline">
                <button class="btn">Cancel</button>
                <button class='pending'>Pending</button>

              </div>

            </div>
          </div>
        </div>
      </div>



    </section>
  </main>
  <script src="~/js/profile.js"></script>
</body>

</html>
